@import "tailwindcss";

body{
  font-family: "Manrope", sans-serif;
}

.scroll-none {
  scrollbar-width: none;
}
@theme {
  --color-lblue: #3F51B5;
  --color-oblue: #5C6BC0;
  --color-opurple: #78dcca;
  /* --font-display: "Manrope", sans-serif; */
}
